<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="styles/main.css">
    <title>BEGA - Catálogo de productos</title>
  </head>

  <body>

    <%- include('../views/header'); %>

    <!-- PRODUCTOS POR CATEGORIA -->
    <br>
    <h2 class="subtitulos">Catálogo de productos</h2>
    <section id="productos">
      <div class="Productos-categoria" style="text-align: center;">

        <% produc.forEach(function(prod) { %>
          <div class="container-card" style="width: 18rem; height: 8rem;">
            <img src="https://source.unsplash.com/300x400/?<%=prod.descripcion%>" class="card-img-top" style="height: 180px;" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=prod.descripcion%></h5>
              <p class="card-text">Tipo: <%=prod.tipo%></p>
              <p class="card-text">Precio: <%=prod.valor%></p>
              <p class="card-text">Disponibilidad: <%=prod.stock%></p>
              <button type="button"
                    style="border-radius:10px; border: 1px solid white; font-size: 25px;"
                    onclick="carrito(`<%=prod.id%>`,`<%=prod.descripcion%>`,`<%=prod.valor%>`,`<%=prod.stock%>`)"><i class="bi bi-cart4"></i>
              </button>
            </div>
          </div>
        <% }); %>

      </div>
    </section>
    
    <script src="/js/functions.js"></script>
    

    <!-- FOOTER  -->

    <%- include('../views/footer'); %>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </body>
</html>