<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <!-- ESTILOS PROPIOS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tabla').DataTable();
        });
    </script>
    <title>Usuarios</title>
  </head>

  <body>

    <%- include('../views/header'); %>

    <div class="container" style="margin-top: 85px; margin-bottom: 70px;">
        <div class="head-tb">
            <h2>CLIENTES</h2>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#agregar">Agregar usuario <i class='fas fa-edit'></i></button>
        </div>
        
        <br>
        <table id="tabla" class="display" tyle="width:100%">
          <thead>
            <tr>
              <th>Identificacion</th>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Celular</th>
              <th>Direccion</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(function(user) { %>
                <tr>
                    <td><%=user.identificacion%></td>
                    <td><%=user.nombre%></td>
                    <td><%=user.correo%></td>
                    <td><%=user.celular%></td>
                    <td><%=user.direccion%></td>
                    <td>
                        <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#modificar"
                            onclick="rellenarusu('<%=user.identificacion%>','<%=user.nombre%>','<%=user.correo%>','<%=user.celular%>','<%=user.direccion%>','<%=user.contrasena%>')">
                            <i class='fas fa-edit'></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#eliminar"
                            onclick="rellenareli('<%=user.identificacion%>','<%=user.nombre%>')">
                            <i class='fas fa-trash-alt'></i>
                        </button>
                  </td>
                </tr>
              <% }); %>
          </tbody>
        </table>
      </div>
        

    </div>

        <!-- Modal descripcion -->
        <div class="modal fade" id="agregar">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal body -->
                    <div class="modal-body">

                        <div class="container">
                            <h2>Agregar usuario</h2>
                            <form method="post" action="newClientadmin" class="form-new">
                                <div class="form-group">
                                    <label for="">Identificacion: </label>
                                    <input type="number" name="identificacion" class="form-control" id="identificacion1" placeholder="identificacion" >
                                    
                                </div>
                                <div class="form-group">
                                    <label for="">Nombre: </label>
                                    <input type="text" name="nombre" class="form-control" id="nombre1" placeholder="Nombre" >
                                    
                                </div>
                                <div class="form-group">
                                    <label for="">Correo:</label>
                                    <input type="email" name="correo" class="form-control" id="correo1" placeholder="Correo" >
                                    
                                </div>
                                <div class="form-group">
                                    <label for="">Celular:</label>
                                    <input type="number" name="celular" class="form-control" id="celular1" placeholder="Celular" >
                                        
                                </div>
                                <div class="form-group">
                                    <label for="">Direccion:</label>
                                    <input type="text" name="direccion" class="form-control" id="direcci1" placeholder="Direccion" >
                                        
                                </div>
                                <div class="form-group">
                                    <label for="">Contrasena:</label>
                                    <input type="text" name="contrasena" class="form-control" id="contrasena1" placeholder="password"   >
                                        
                                </div>
                                <div class="fbtn-group">
                                    <div class="col text-center">
                                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn btn-success">Agregar</button>

                                    </div>
                                </div>
                            </form>
                        </div>

                </div>

                </div>
            </div>
        </div>
        
        <!-- Modal modificar -->form-new
        <div class="modal fade" id="modificar">
            <div class="modal-dialog">
                <div class="modal-content">


                    <!-- Modal body -->
                    <div class="modal-body">

                        <div class="container">
                            <h2>Modificar usuario</h2>
                            <form method="post" action="updateClient">
                                <div class="form-group">
                                    <label for="">Identificacion: </label>
                                    <input type="text" name="identificacion" class="form-control" id="identificacion" placeholder="identificacion" required readonly>
                                    
                                </div>
                                <div class="form-group">
                                    <label for="">Nombre: </label>
                                    <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Nombre" required>
                                    
                                </div>
                                <div class="form-group">
                                    <label for="">Correo:</label>
                                    <input type="text" name="correo" class="form-control" id="correo" placeholder="Correo" required>
                                    
                                </div>
                                <div class="form-group">
                                    <label for="">Celular:</label>
                                    <input type="text" name="celular" class="form-control" id="celular" placeholder="Celular" required>
                                        
                                </div>
                                <div class="form-group">
                                    <label for="">Direccion:</label>
                                    <input type="text" name="direccion" class="form-control" id="direcci" placeholder="Direccion" required>
                                        
                                </div>
                                <div class="form-group">
                                    <label for="">Contrasena:</label>
                                    <input type="text" name="contrasena" class="form-control" id="contrasena" placeholder="password" required>
                                        
                                </div>
                                <div class="fbtn-group">
                                    <div class="col text-center">
                                        <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn btn-primary">Modificar</button>

                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!-- Modal eliminar -->
        <div class="modal fade" id="eliminar">
            <div class="modal-dialog">
                <div class="modal-content">


                    <!-- Modal body -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmacionModalLabel">Confirmación de Eliminación</h5>
                        
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de que deseas eliminar este usuario?
                        <form method="post" action="deleteClient">
                            <div class="form-group">
                                <label for="">Identificacion: </label>
                                <input type="text" name="identificacion" class="form-control" id="identificacion-e" placeholder="identificacion" readonly>
                                
                            </div>
                            <div class="form-group">
                                <label for="">Nombre: </label>
                                <input type="text" name="nombre" class="form-control" id="nombre-e" placeholder="nombre" readonly>
                            </div>
                            
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                              <button type="submit" class="btn btn-danger">Eliminar</button>
                            
                        </form>
                    </div>

                </div>
            </div>
        </div>
<br>
<br>
      
    <footer>
        <%- include('../views/footer'); %>
    </footer>
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/funciones.js"></script>
    <script>
        let alerta = "<%= alert %>"
        let error = "<%= error %>"
        let titulo = "<%= title %>"
        if (alerta != "") {
            setTimeout(() => {
                Swal.fire({
                    // position: "top-end",
                    title: titulo,
                    text: alerta,
                    icon: error,
                    timer: 1500,
                    showConfirmButton: false,
                });
            }, 100);
            setTimeout(function () {
                window.location.href = '/api/usuariosVista';
            }, 2000);
        }
        const rellenarusu = (id,nombre,correo,celular,direccion,pass) => {
            console.log(id,nombre,correo,celular,direccion,pass)
            let campo_id = document.getElementById('identificacion')
            let campo_nombre = document.getElementById('nombre')
            let campo_correo = document.getElementById('correo')
            let campo_celular = document.getElementById('celular')
            let campo_direccion = document.getElementById('direcci')
            let campo_pass = document.getElementById('contrasena')
            
            campo_id.value = id
            campo_nombre.value = nombre
            campo_correo.value = correo 
            campo_celular.value = celular 
            campo_direccion.value = direccion
            campo_pass.value = pass
        }
        const rellenareli = (id,nombre) => {
            let campo_id = document.getElementById('identificacion-e');
            let campo_nombre = document.getElementById('nombre-e');
            
            campo_id.value = id
            campo_nombre.value = nombre 
        }

    document.addEventListener("DOMContentLoaded", function() {
    document.querySelector(".form-new").addEventListener("submit", function(event) {
      // Validar campos antes de enviar el formulario
      if (!validateForm()) {
        event.preventDefault(); // Evitar el envío del formulario si la validación falla
      }
    });

    function validateForm() {
      // Obtener referencias a los campos del formulario
      var identificacion = document.querySelector('input[name="identificacion"]').value;
      var nombre = document.querySelector('input[name="nombre"]').value;
      var correo = document.querySelector('input[name="correo"]').value;
      var celular = document.querySelector('input[name="celular"]').value;
      var direccion = document.querySelector('input[name="direccion"]').value;
      var contrasena = document.querySelector('input[name="contrasena"]').value;

      // Realizar validaciones
      if (identificacion.trim() === "") {
          Swal.fire({
          title: "Validar",
          text: "Por favor, ingrese su número de identificación.",
          icon: "warning"
        });
        return false
      }
      
      var maxIdentificacion = 99999999999;
      if (parseInt(identificacion, 10) > maxIdentificacion || parseInt(identificacion, 10) < 0) {
        Swal.fire({
          title: "Validar",
          text: "El número de identificación tiene que ser minimo 6 y maximo 11",
          icon: "warning"
        });
        return false
      }

      if (nombre.trim() === "") {
        Swal.fire({
          title: "Validar",
          text: "Por favor, ingrese su nombre.",
          icon: "warning"
        });
        return false
      }

      if (correo.trim() === "") {
        Swal.fire({
          title: "Validar",
          text: "Por favor, ingrese su correo.",
          icon: "warning"
        });
        return false
      }

      if (contrasena.trim() === "") {
        Swal.fire({
          title: "Validar",
          text: "Por favor, ingrese su contraseña.",
          icon: "warning"
        });
        return false
      }

      // Puedes agregar más validaciones según tus requisitos

      return true; // Si todas las validaciones pasan, retorna true
    }
})
    </script>
</body>
</html>